annotated-doc
annotated-types
anyio
argparse
blinker
chinese-calendar
chinesecalendar
click
colorlog
comtypes
contourpy
cryptography
cycler
distro
exceptiongroup
fastapi
flask
fsspec
httpcore
httpx
itsdangerous
jinja2
jiter
kiwisolver
markupsafe
matplotlib
mouseinfo
msoffcrypto
msoffcrypto-tool
olefile
openai
pathlib2
pdfminer
pdfminer-six
pdfplumber
pyautogui
pycryptodome
pydantic
pydantic-core
pydumpck
pygame
pygetwindow
pyinstxtractor-ng
pymsgbox
pyparsing
pypdf2
pypdfium2
pypdfium2-cfg
pypdfium2-cli
pypdfium2-raw
pyperclip
pyrect
pyscreeze
python-docx
pytweening
pywin32
pywinauto
schedule
scidatetime
scipy
setuptools==80.9.0
sgtpyutils
spark-parser
starlette
test-unit
tinyaes
typing-inspection
uiautomation
uncompyle6
uvicorn
waitress
werkzeug
wheel
xdis
