annotated-doc
annotated-types
anyio
argparse
blinker
chinese-calendar
chinesecalendar
click
colorlog
comtypes
contourpy
cryptography
cycler
distro
exceptiongroup
fastapi
flask
fsspec
httpcore
httpx
itsdangerous
jinja2
jiter
kiwisolver
markupsafe
matplotlib
mouseinfo
msoffcrypto-tool
olefile
openai
pathlib2
pdfminer-six
pdfplumber
pyautogui
pycryptodome
pydantic
pydantic-core
pydumpck
pygame
pygetwindow
pyinstxtractor-ng
pymsgbox
pyparsing
pypdf2
pypdfium2
pyperclip
pyrect
pyscreeze
python-docx
pytweening
pywin32
pywinauto
schedule
scidatetime
scipy
setuptools==80.9.0
sgtpyutils
starlette
tinyaes
typing-inspection
uiautomation
uncompyle6
uvicorn
waitress
werkzeug
wheel
xdis
